@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #778DA9; 
    --secondary-color: #E0E1DD;
    --accent1-color: #415A77;
    --accent2-color: #1B263B;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #415A77;
    --nav-link-color: #E0E1DD;
    --nav-hover-link-color: #778DA9;
    --nav-hover-background-color: #1B263B;
}

* {
    font-family: var(--paragraph-font);
    max-width: 900px;
    padding: 0;
    color: var(--accent2-color);
}

header {
    display: block;
    color: var(--secondary-color);
    text-align: left;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 180px;
    left: 0;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    width: 100%;
    background: rgba(24, 29, 57, 0.766);
    text-align: center;
}

.hero article {
    background: rgba(24, 29, 57, 0.766);
    color: var(--secondary-color);
    padding: 0;
    position: absolute;
    top: 260px;
    left: 0;
    display: block;

}
.hero article img {
    float: right;
	border: 1px;
	padding: 3px;
    margin: 20px;
	width: 100px;
	height: auto;
    display: block;
}

.hero article p {
    margin: 20px;
    display: block;
    color: var(--secondary-color);
}


